*{
    font-family: 'Nunito';
}

/* NavBar */

.navbar{
    background-color: #dcdcdc;
}

.tituloNavBar{
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
}

.logoNavBar{
    height: 60px;
}

.fotoPerfil{
    border-radius: 100px;
    height: 40px;
}